.content .container{
    margin-top:10px;
    background-color: #ffffff !important;
    height: 100%;
    display: flex;
    border-radius:4px;
    padding: 0 16px;
    justify-content: flex-start;
}
  
.container .form-profile{
  display:flex;
  flex-direction: column;
  justify-content: center;
}


.footer-container{
  margin-top:10px;
  background-color: #fff;
  padding: 16px;
}

.footer-container button  {
  width:240px;
  height:42px;
  border-radius:4px;
  outline:none;
  border:none;
  color: #fff;
  background-color:#121212;
 
  transition: all .5s;
  
 } 
 
 .footer-container button:hover{
 
  opacity: 0.9;
 }
 
 
 .container .form-profile label{
  margin-top: 10px;
    margin-bottom:.2em;
    font-size:1.2em;
 }
 
 .container .form-profile input, textarea, select{
  margin-bottom:1em;
  background-color:#f5f5f5;
  padding:0.7em;
  border:none;
  border-radius:4px;
  max-width:500px;
  }
  
  .container .form-profile input:disabled{
    cursor:not-allowed;
  }
  .container .form-profile  button{
    padding:.7em;
    max-width:100%;
    width:500px;
    height:42px;
    border-radius:4px;
    outline:none;
    border:none;
    color: #fff;
    background-color:#121212; 
    transition: all .5s;
  }
  
  
   
 
 @media screen and (max-width:600px){
  .content .container{
    justify-content: center;
  }
  
  .footer-container button{
    display:flex;
    width:100%;
    justify-content: center;
    align-items: center;
  }
  
  
 }