
.container-sigup{
    width: 100%; 
    height: 100vh;
    display: flex;
    background-color: #191919 !important;
    justify-content: center;    
    align-items: center; 
}


.container-sigup .login-container{
    display:flex;
    flex-direction:column;  
    max-width:462px;
    width:100%;
}

.container-sigup .login-container .logo_img{
    height:30px;
    margin-bottom:20px;
}

.container-sigup .input-container{
    background-color:#342E2E;
    padding:16px;
    border-radius:4px;
    display:flex;
    max-width:462px;
    margin-bottom:5px;
}

.container-sigup .input-container input{
    background:transparent;
    outline:none;
    border:none;
    padding-left:30px;
    color: #ffffff !important;
    width:100%;
    font-size:1.6rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #342E2E inset !important;
    -webkit-text-fill-color: #ffffff!important;
}

.btn-container {
    border-radius:4px;
    display:flex;
    max-width:462px;
    flex-direction:column;
    margin-bottom:5px;
}

.container-sigup  .btn-register{
    padding:16px;
    background-color:#0E20C5;
    outline:none;
    border-radius:4px;
    border:none;
    color:#ffffff;
    font-size:1.6rem;
    transition:all 0.9;
    text-transform:uppercase;
}

.container-sigup .btn-register:hover{
    background-color:#3446E7;
}

.container-sigup .btn-nova-conta{
    background-color:transparent;
    outline:none;
    border:none;
    margin-top:10px;
    font-size:1.4rem;
    color:#ffffff;
    text-align:center;
 }

 .container-sigup .btn-nova-conta:hover{
    color:#D3CFCF;
}